html,
body {
  background: url(aset/img/dewi12.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.gallery-img {
  width: 100%;
}

#gallery .row > * {
  padding: 0;
}
